$main-bg: #fff;
$main-color: #4267b2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
  "blue": #4267b2,
  "orange": #fbb96b,
  "pink": #fe7e73,
  "white": #fff,
  "black": #000,
  "main": $main-color,
  "red": #ff0000,
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
$main-bg: #ffffff;
$second-bg: #fafafb;
$txt-color: #455560;
$txt-white: #fff;

$second-color: #62b4ff;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$main-bg-light: #ffffff;
$second-bg-light: #fafafb;
$txt-color-light: #455560;
$box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$main-bg-dark: #2d2d2d;
$second-bg-dark: #202020;
$txt-color-dark: #bbbbbb;
$box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

$main-color-blue: #349eff;
$second-color-blue: #62b4ff;

$main-color-red: #fb0b12;
$second-color-red: #ff4a6b;

$main-color-cyan: #10d4d2;
$second-color-cyan: #2ae9e6;

$main-color-green: #019707;
$second-color-green: #4caf50;

$main-color-orange: #d68102;
$second-color-orange: #fca11a;

$sidebar-width: 300px;
$border-radius: 15px;
$topnav-height: 110px;
$transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.--btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  justify-content: center;
  margin: 0 5px 0 0;
  padding: 6px 8px;
  transition: all 0.3s;
}
.--btn-block {
  width: 100%;
}
.--btn-primary {
  background: $main-color;
  color: #fff;
}
