.auth {
  margin-top: 200px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    animation: slide-down 0.5s ease;
    margin-left: 10px;
  }

  .form {
    width: 35rem;
    padding: 1.5rem;
    animation: slide-up 0.5s ease;
    h2 {
      color: red;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
    }

    form {
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="date"] {
        display: block;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
      }
      input {
        &:focus {
          border: 1px solid blue;
        }
      }

      .group {
        display: flex;
        justify-content: space-between;
        input {
          width: 48%;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      p {
        text-align: center;
        margin: 1rem;
        .error {
          color: red;
          font-size: 0.8rem;
          margin: 0 1rem;
        }
      }
    }
    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}
