
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.active {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  .txt {
    flex-grow: 1;
  }
